{% extends 'base.html' %}
{% load static %}

{% block title %}
title
{% endblock %}

{% block body %}
<div> 
    <h1>REGISTER / LOGIN</h1> 
    <div> 
    <h2>Sign Up</h2> 
    <form method="POST" action="/signup/">
    {% csrf_token %} 
    <input name="username" type="text" placeholder="Username" /> 
    <input name="email" type="email" placeholder="Enter Email" /> <input name="password" type="password" placeholder="Password" /> 
    <button type="submit">Sign Up</button> 
    </form> 
    </div> 
    <div> 
    <h2>Log In</h2> 
    <form method="POST" action="/login/">
    {% csrf_token %} 
    <input name="username" type="text" placeholder="Enter username" /> 
    <input name="password" type="password" placeholder="Password" /> 
    <button type="submit">Login</button> 
    </form> 
    </div> 
</div>
    
{% endblock %}